Form10workflow_20220407134114/Microsoft.Flow/flows/0e0df93f-78aa-414a-a22b-b8fc83395653/definition.json
{"name":"eed73c8d-7b33-4f52-bbdb-3093c7e9976e","id":"/providers/Microsoft.Flow/flows/eed73c8d-7b33-4f52-bbdb-3093c7e9976e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Form 10 Workflow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1a215633-7139-44c0-8aa1-53c79fe580a1","type":"User","tenantId":"8331b18d-2d87-48ef-a35f-ac8818ebf9b4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-04-06T18:30:11.8851626Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"4876e310-f743-4fdf-a2d9-7e4425583fad"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://usaf.dps.mil/sites/AFGSC-HQ/hq/A4/","table":"5318c6f2-2208-40aa-9816-0d3a081b30a0"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"982afa75-d02e-4df1-848c-32c94cccef9b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://usaf.dps.mil/sites/AFGSC-HQ/hq/A4/","table":"5318c6f2-2208-40aa-9816-0d3a081b30a0","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fSiteAssets%252fForm10Layout.html":"/SiteAssets/Form10Layout.html","operationMetadataId":"8e959c24-da7f-48dd-9c01-80e3d9ad7b63"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://usaf.dps.mil/sites/AFGSC-HQ/hq/ds/dsk/carl","id":"%252fSiteAssets%252fForm10Layout.html","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Compose_Name_by_Created":{"runAfter":{"Convert_Date_Request_Time":["Succeeded"]},"metadata":{"operationMetadataId":"784f2b66-fbe5-492b-89e8-c8225c774352"},"type":"Compose","inputs":"@replace(outputs('Get_file_content')?['body'],'{submitter}',outputs('Get_item')?['body/Author/DisplayName'])"},"Compose_Submitted_Time":{"runAfter":{"Compose_Name_by_Created":["Succeeded"]},"metadata":{"operationMetadataId":"cc55af59-83c8-4ec5-9869-a245933df596"},"type":"Compose","inputs":"@replace(outputs('Compose_Name_By_Created'), '{submissiont}',body('Convert_time_zone_2'))"},"Compose_Title_Meeting":{"runAfter":{"Compose_Purpose":["Succeeded"]},"metadata":{"operationMetadataId":"7379c9f4-b6c6-484e-8caa-b3f34a2d414c"},"type":"Compose","inputs":"@replace(outputs('Compose_Purpose'),'{title}', outputs('Get_item')?['body/Title'])"},"Compose_Request_Name":{"runAfter":{"Compose_Title_Meeting":["Succeeded"]},"metadata":{"operationMetadataId":"26ccaec5-4040-49ea-8a36-3f6aca84c09b"},"type":"Compose","inputs":"@replace(outputs('Compose_Title_Meeting'),'{requestname}', outputs('Get_item')?['body/RequestorName/DisplayName'])"},"Compose_Division":{"runAfter":{"Compose_Request_Name":["Succeeded"]},"metadata":{"operationMetadataId":"c49c6209-f48a-443d-8443-bb430f686f02"},"type":"Compose","inputs":"@replace(outputs('Compose_Request_Name'),'{division}', outputs('Get_item')?['body/Division'])"},"Convert_time_zone":{"runAfter":{"Scope_that_turns_array_of_Briefers_to_String":["Succeeded"]},"metadata":{"operationMetadataId":"afdb0f56-de7a-4664-94e6-f340f2d5d3f4"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@outputs('Get_item')?['body/Created']","formatString":"f","sourceTimeZone":"Central Standard Time","destinationTimeZone":"Central Standard Time"}},"Convert_Date_Request_Time":{"runAfter":{"Convert_time_zone_2":["Succeeded"]},"metadata":{"operationMetadataId":"79847dd9-27a0-4ed3-8391-da2dcc866bc9"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@outputs('Get_item')?['body/Date_x0020_of_x0020_Request']","formatString":"f","sourceTimeZone":"Central Standard Time","destinationTimeZone":"Central Standard Time"}},"Compose_Date_Request":{"runAfter":{"Compose_Submitted_Time":["Succeeded"]},"metadata":{"operationMetadataId":"bd3307a1-0b66-4032-9450-82d631936868"},"type":"Compose","inputs":"@replace(outputs('Compose_Submitted_Time'),'{date}', body('Convert_Date_Request_Time'))"},"Compose_Purpose":{"runAfter":{"Compose_Date_Request":["Succeeded"]},"metadata":{"operationMetadataId":"d1e600a8-7dfa-437e-b5c0-1c5a4e0e2d8b"},"type":"Compose","inputs":"@replace(outputs('Compose_Date_Request'),'{purpose}', outputs('Get_item')?['body/Purpose'])"},"Compose_Number":{"runAfter":{"Compose_Division":["Succeeded"]},"metadata":{"operationMetadataId":"43885076-5d90-4d95-8981-d7bce59c1a52"},"type":"Compose","inputs":"@replace(outputs('Compose_Division'), '{number}', outputs('Get_item')?['body/DutyPhone'])"},"Get_changes_for_an_item_or_a_file_(properties_only)":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"59682d86-4cdd-4022-94fe-df7f9b347aaf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemChanges"},"parameters":{"dataset":"https://usaf.dps.mil/sites/AFGSC-HQ/hq/A4/","table":"5318c6f2-2208-40aa-9816-0d3a081b30a0","id":"@outputs('Get_item')?['body/ID']","since":"@triggerOutputs()?['body/{TriggerWindowStartToken}']","until":"@triggerOutputs()?['body/{TriggerWindowEndToken}']","includeDrafts":false},"authentication":"@parameters('$authentication')"}},"Compose_Classification":{"runAfter":{"Compose_Number":["Succeeded"]},"metadata":{"operationMetadataId":"dd2d96b2-d361-4a0c-9a89-393270f29fc5"},"type":"Compose","inputs":"@replace(outputs('Compose_Number'),'{classification}', outputs('Get_item')?['body/Classification'])"},"Compose_Length":{"runAfter":{"Compose_Classification":["Succeeded"]},"metadata":{"operationMetadataId":"bab0b750-90a6-4241-b166-fbf51cb6c0cb"},"type":"Compose","inputs":"@replace(outputs('Compose_Classification'), '{length}', outputs('Get_item')?['body/Length'])"},"Compose_Requested_Window":{"runAfter":{"Compose_Length":["Succeeded"]},"metadata":{"operationMetadataId":"3ad804e7-beb4-4751-b12f-c92c6279b919"},"type":"Compose","inputs":"@replace(outputs('Compose_Length'),'{window}',outputs('Get_item')?['body/RequestedDateWindow'])"},"Compose_VTC":{"runAfter":{"Compose_Requested_Window":["Succeeded"]},"metadata":{"operationMetadataId":"996677a9-4508-46fb-b5e4-8562dbbf6e1f"},"type":"Compose","inputs":"@replace(outputs('Compose_Requested_Window'),'{vtc}',outputs('Get_item')?['body/VTC_x0028_Yes_x002f_No_x0029_'])"},"Compose_Required":{"runAfter":{"Compose_VTC":["Succeeded"]},"metadata":{"operationMetadataId":"6e9e6443-ae81-44c3-ada9-756c6db94472"},"type":"Compose","inputs":"@replace(outputs('Compose_VTC'),'{whyrequired}',outputs('Get_item')?['body/WhyistheDirector_x002f_Executive'])"},"Compose_Risk":{"runAfter":{"Compose_Required":["Succeeded"]},"metadata":{"operationMetadataId":"b4e7aff8-b2e1-49c5-9a97-f7ef2851a0d9"},"type":"Compose","inputs":"@replace(outputs('Compose_Required'),'{whatrisk}',triggerOutputs()?['body/OData__x0031_2_x002e_Whatistheriskifth'])"},"Compose_ReadAheads":{"runAfter":{"Compose_Risk":["Succeeded"]},"metadata":{"operationMetadataId":"b2b3ffaa-598b-435b-aab2-87f076448806"},"type":"Compose","inputs":"@replace(outputs('Compose_Risk'),'{readahead}',triggerOutputs()?['body/OData__x0031_3_x002e_WillRead_x002d_Ah'])"},"Compose_Comment":{"runAfter":{"Compose_ReadAheads":["Succeeded"]},"metadata":{"operationMetadataId":"10c1c06f-2016-4530-a472-f2c094b4cd50"},"type":"Compose","inputs":"@replace(outputs('Compose_ReadAheads'),'{comments}',outputs('Get_item')?['body/AdditionalComments'])"},"Initialize_Directors_Variable":{"runAfter":{"Append_to_string_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"11e41ff0-f048-4ca6-b6c6-5044ebba883d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNames","type":"string"}]}},"Scope_that_turns_array_of_Director_to_String":{"actions":{"Apply_to_each":{"foreach":"@outputs('Get_item')?['body/Attendees']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e9492503-011a-4a3d-b640-aa2766176fff"},"type":"AppendToStringVariable","inputs":{"name":"varNames","value":"@{items('Apply_to_each')?['DisplayName']}  ---"}}},"runAfter":{},"metadata":{"operationMetadataId":"dd300142-5b50-48ab-9beb-29da02bf016e"},"type":"Foreach"}},"runAfter":{"Initialize_Briefer_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"2b1b17f1-a45e-4779-b9b5-faca5eaefa14"},"type":"Scope"},"Scope_that_turns_array_of_SME_to_String":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_item')?['body/SubjectMatterExpert_x0028_s_x002']","actions":{"Append_to_string_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"ee8f01b4-12be-4022-b19e-2963bc001fd5"},"type":"AppendToStringVariable","inputs":{"name":"smeName","value":"@{items('Apply_to_each_2')?['DisplayName']} ---"}}},"runAfter":{},"metadata":{"operationMetadataId":"8cf79a2a-1c83-414b-bece-91aea6f87eda"},"type":"Foreach"}},"runAfter":{"Scope_that_turns_array_of_Director_to_String":["Succeeded"]},"metadata":{"operationMetadataId":"7b62f65d-50e3-4a64-aacb-ce6e1c20fd3e"},"type":"Scope"},"Initialize_SME_Variable":{"runAfter":{"Initialize_Directors_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"7a7cf5aa-07cd-43f1-98fa-c83eb150ea3c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"smeName","type":"string"}]}},"Initialize_Briefer_Variable":{"runAfter":{"Initialize_SME_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"7959cbac-c495-4417-a92a-4f03b592bd70"},"type":"InitializeVariable","inputs":{"variables":[{"name":"briefName","type":"string"}]}},"Scope_that_turns_array_of_Briefers_to_String":{"actions":{"Apply_to_each_4":{"foreach":"@outputs('Get_item')?['body/Briefer_x0028_s_x0029_']","actions":{"Append_to_string_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"47e3fbdf-f947-4112-88bf-defb2a5fcf11"},"type":"AppendToStringVariable","inputs":{"name":"briefName","value":"@{items('Apply_to_each_4')?['DisplayName']} ---"}}},"runAfter":{},"metadata":{"operationMetadataId":"4f3023d2-c7d4-4024-80f0-4ee6bfe2d11a"},"type":"Foreach"}},"runAfter":{"Scope_that_turns_array_of_SME_to_String":["Succeeded"]},"metadata":{"operationMetadataId":"05717ff4-b597-4dab-bde3-ea23c42eb01c"},"type":"Scope"},"Compose_Director":{"runAfter":{"Compose_Comment":["Succeeded"]},"metadata":{"operationMetadataId":"b78b953f-3710-4e0f-9eca-c3282000f32d"},"type":"Compose","inputs":"@replace(outputs('Compose_Comment'),'{directorrep}', variables('varNames'))"},"Compose_SME":{"runAfter":{"Compose_Director":["Succeeded"]},"metadata":{"operationMetadataId":"9c874aad-27a0-4d76-ac67-a58f74039301"},"type":"Compose","inputs":"@replace(outputs('Compose_Director'),'{sme}',variables('smeName'))"},"Compose_Briefer":{"runAfter":{"Compose_SME":["Succeeded"]},"metadata":{"operationMetadataId":"49fd742c-afcb-481b-864c-a59cc131a25c"},"type":"Compose","inputs":"@replace(outputs('Compose_SME'),'{briefers}',variables('briefName'))"},"IF_List_item_is_Modified_Condition":{"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"36097955-d153-48bb-898d-3808c26d6936"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Notebooks","name":"Updated_@{outputs('Get_item')?['body/RequestorName/DisplayName']}_Form10Request_@{body('Convert_time_zone_2')}.html","body":"@outputs('Compose_Briefer')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"aee2a23f-dd29-45b9-915e-b2f86637e5d2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_file_2":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"14e9db77-f682-4bc1-8eed-2b90697f8075"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Notebooks","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content_2":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"15bd24c0-a28f-4f8e-8afd-93f448b5caa6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"a7b57362-f486-462c-93f0-7dc89f16154a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_item')?['body/Author/Email']","emailMessage/Subject":"Updated Form 10 Request","emailMessage/Body":"<p>This Form 10 was updated! Please see attachment for details.<br>\n<br>\nTitle: &nbsp;@{outputs('Get_item')?['body/Title']}<br>\n<br>\nPurpose: @{outputs('Get_item')?['body/Purpose']}<br>\n<br>\nDivision: @{outputs('Get_item')?['body/Division']}<br>\n<br>\nClassification: @{outputs('Get_item')?['body/Classification']}<br>\n<br>\nPhone:@{outputs('Get_item')?['body/DutyPhone']}<br>\n<br>\n</p>","emailMessage/Cc":"AFGSC.KM.Workflow@us.af.mil","emailMessage/Attachments":[{"Name":"@outputs('Create_file_2')?['body/Name']","ContentBytes":"@body('Get_file_content_2')"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_2":["Succeeded"]},"expression":{"and":[{"and":[{"equals":["@outputs('Get_item')?['body/Status/Value']","Submitted"]},{"equals":["@outputs('Get_changes_for_an_item_or_a_file_(properties_only)')?['body/ColumnHasChanged/Modified']",true]}]}]},"metadata":{"operationMetadataId":"d4a4bf97-d60b-48c5-acf6-a01621d6021f"},"type":"If"},"Condition_2":{"actions":{"Create_file_3":{"runAfter":{},"metadata":{"operationMetadataId":"bd8d5271-aee2-49d3-aca3-0cc1de7cbae0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Notebooks","name":"New_@{outputs('Get_item')?['body/RequestorName/DisplayName']}_Form10Request_@{body('Convert_time_zone_2')}.html","body":"@outputs('Compose_Briefer')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_2":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"b0479e22-9ad8-46e9-a8b5-eea60a25028b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_3')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_file_4":{"runAfter":{"Convert_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"2cca83a1-fd16-4643-b3a6-2003abfb2b85"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Notebooks","name":"@outputs('Convert_file_2')?['headers/x-ms-file-name']","body":"@body('Convert_file_2')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content_3":{"runAfter":{"Create_file_4":["Succeeded"]},"metadata":{"operationMetadataId":"ef783fbe-e4c5-4ccb-8944-7cfc29540ea5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Create_file_4')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Get_file_content_3":["Succeeded"]},"metadata":{"operationMetadataId":"0484ee8d-1b00-47bb-b7d9-efc174308b47"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_item')?['body/Author/Email']","emailMessage/Subject":"New Form 10 Request","emailMessage/Body":"<p>A new Form 10 request has been submitted. Please see attachment for details.<br>\n<br>\nTitle: @{outputs('Get_item')?['body/Title']}<br>\n<br>\nPurpose: @{outputs('Get_item')?['body/Purpose']}<br>\n<br>\nDivision: @{outputs('Get_item')?['body/Division']}<br>\n<br>\nClassification: @{outputs('Get_item')?['body/Classification']}</p>","emailMessage/Cc":"AFGSC.KM.Workflow@us.af.mil","emailMessage/Attachments":[{"Name":"@outputs('Create_file_4')?['body/Name']","ContentBytes":"@body('Get_file_content_3')"}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Briefer":["Succeeded"]},"expression":{"equals":["@triggerBody()?['{VersionNumber}']","@string('1.0')"]},"metadata":{"operationMetadataId":"9bb3226d-ddc4-4175-b61a-65b9910f56f7"},"type":"If"},"Initialize_variable":{"runAfter":{"Get_changes_for_an_item_or_a_file_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"12d545b4-2e1f-482e-a4cc-87f22b8bb56b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VersionNum","type":"string","value":"@outputs('Get_item')?['body/{VersionNumber}']"}]}},"Append_to_string_variable_4":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"459f2af1-a31b-44d9-9fa1-c916eccd5c5d"},"type":"AppendToStringVariable","inputs":{"name":"VersionNum","value":"@outputs('Get_item')?['body/{VersionNumber}']"}},"Convert_time_zone_2":{"runAfter":{"Convert_time_zone":["Succeeded"]},"metadata":{"operationMetadataId":"4452aa4b-506c-4ad3-9b0e-c6474da98b1d"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@outputs('Get_item')?['body/Modified']","formatString":"g","sourceTimeZone":"Central Standard Time","destinationTimeZone":"Central Standard Time"}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-2b32be25-3c3a-4e52-b835-7c2bed580f00","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-7ae7c7ca-7bbf-4a58-a793-ea275d2c4886","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-5fde0124-c150-4ea4-ab4e-d03d24290bc5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}